.menu {
    margin-top:2rem;
    background:#f0f0f0;
    li {
        background: #f0f0f0;
    }
    li:hover {
        background:lighten(#f0f0f0, 10%);
    }
    a {
        color:#333
    }
}

.ad-pm {
    background:#fefefe;
    
}
.ad-pm:hover {
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
}


.imgWrapper {
    background-color: #ffffff;
    border: 2px solid #f0f0f0;
    padding:0px;
    margin: 0px;
    min-height:304px;
}
.zoomWindow{
    min-height: 300px;
}

.align-image{
    margin-top: 20px;
    margin-bottom: 20px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
#panel-wrapper{
    .button{
        margin:2px;
        border-radius: 25px;
    }
}

.center-vertical{
    margin:0 auto;
    margin-right:40px;
     display: block;
     text-align: center;	
}
div.controls-zoom, div.controls-pan {
            display: inline-block;
}

.pulse, .st11 {
   // width: 100px;
   // height: 100px;
  //  background-color: red;
    -webkit-animation-name: pulse-effect; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: pulse-effect;
    animation-duration: 1s;
    animation-delay: 2s;
} 

/* Safari 4.0 - 8.0 */
@-webkit-keyframes pulse-effect {
    0%   { }
    50%  {background-color: $warning-color;fill:$warning-color;stroke:$warning-color;}
    100% {}
}

/* Standard syntax */
@keyframes pulse-effect {
    0%   {}
    50%  {background-color: $warning-color;fill:$warning-color;stroke:$warning-color;}
    100% {}
}